extends layout

block content
  h1 게시글 리스트 페이지
  a(href="http://localhost:3000/dummy") logout~

  div 넘어온 번호: #{listNum}
  br
  table(style="width:500px; background-color:yellow;") 
    tr 
        td 
            //- a(href="http://localhost:3000/dummy/list/1/") 1
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
    tr 
        td  
            //- a(href="http://localhost:3000/dummy/list/2/") 2
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
    tr 
        td 
            //- a(href="http://localhost:3000/dummy/list/3/") 3
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
    tr 
        td 
            //- a(href="http://localhost:3000/dummy/list/4/") 4
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
    tr 
        td 
            //- a(href="http://localhost:3000/dummy/list/5/") 5
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
    tr 
        td 
            //- a(href="http://localhost:3000/dummy/list/6/") 6
                img(src="https://tasteminty.com/page/wp-content/uploads/2017/01/girlreadingchill2.png", alt="", width="450px")
   